.buttonList {
    font-size: 0;
    padding: 0;
}

.buttonList__item {
    width: 25%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.buttonList__button {
    width: 170px;
    height: 70px;
    border: 2px solid #333;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    background-color: #333;
}

.buttonList__button:focus {
    outline: 2px solid royalblue;
}

.buttonList--darkMode {
    color: white;
    background-color: #333;
}

.buttonList--buttonHover:hover {
    background-color: white;
    color: #333;
    cursor: pointer;
}

@media (max-width:823px) {
    .buttonList__item {
        width: 25%;
        display: block;
        font-size: 16px;
        text-align: center;
        margin: 10px auto;
    }
}

@media (max-width:360px) {
    .buttonList__item {
        width: 25%;
        display: block;
        font-size: 16px;
        text-align: center;
        margin: 10px auto;
    }
}

.js-lightModeBackground{
    background-color: white;
}

.js-darkFont {
    color: #333;
}